
h2 {
    border-bottom: 1px solid grey;
    margin-bottom: 33px;
}

body {
    // background-color: rgb(33,33,33);
    // color: rgb(233,233,233);
    padding: 0;
}

@dark-gradient: linear-gradient(135deg, #0c0c0c 0%,#111111 9%,#1b1b1b 24%,#0b0b0b 40%,#000000 49%,#1b1b1b 50%,#2c2c2c 61%,#3f3f3f 75%,#373737 88%,#2f2f2f 100%);

.btn-default {
    &:hover {
        color: white;
        background: @dark-gradient;
    }
    border-radius: 1px;

    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 180%;
}

.m-comic {
}

.m-creator {
}

.l-page {
    margin-bottom: 55px;
}

.l-featured--hero {
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-style: italic;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-top: 12px solid rgb(33,33,33);
    border-bottom: 12px solid rgb(33,33,33);

    &:before {
        background: linear-gradient(white, black);
        z-index:-1;
        position:absolute;
        left:0;
        top:0;
        opacity:0.4;
    }

    padding-top: 135px;
    padding-bottom: 135px;

    transition: background-image 0.2s ease-in-out;

    h1 {
        font-size: 130px;
        text-transform: uppercase;
        font-weight: bold;
        font-style: italic;
    }
}

.l-list {
    .make-row();

    h2 {
        background-color: black;

        span {
            background-color: white;
            padding: 0 33px;
            margin-left: 33px;
            text-transform: uppercase;
            font-style: italic;
            font-weight: bold;
        }
    }

    &.l-featured--comics {
        .m-comic {
            height: 255px;
        }
        margin-top: 45px;
    }

    &.l-featured--creators {
        margin: 0 -15px 35px;
        // background-color: rgb(22,22,22);
        background: @dark-gradient;

        h2 {
            color: rgb(233,233,233);
            background: none;
            border-width: 2px;
            border-color: white;

            span {
                background-color: transparent;
                color: white;
            }
        }

        .m-creator {
            border: 1px solid white;
            box-shadow: 5px 5px 0 rgb(255,255,255);
        }
    }

    .m-comic--container,
    .m-creator--container {
        margin-bottom: 55px;
    }

    .m-comic,
    .m-creator {

        height: 389px;
        padding: 0px;
        margin: 0 33px 0;
        overflow: hidden;
        border: 1px solid black;
        box-shadow: 5px 5px 0 rgba(0,0,0,0.4);
        border-radius: 1px;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:not(.has-image) {
            background-position: left;
        }

        .m-comic--title {

            .m-comic--title--text {
                background-color: rgba(255,255,0,0.8);
                color: rgba(255,255,255,1);
                text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
                display: inline;
                padding: 6px;

                &:hover {
                    background-color: black;
                    text-shadow: none;
                    text-decoration: none;
                }
            }

            position: absolute;
            bottom: 0;
            z-index: 2;
            margin: 0;
            margin: 33px 49px 33px 0;
            line-height: 36px;
            font-size: 20px;
            text-align: right;
            // width: 100%;
        }

        .m-creator--title {
            .m-creator--title--text {
                background-color: rgba(255,255,255,1);
                color: rgba(0,0,0,1);
                text-shadow: 1px 1px 0 rgba(50,50,50,0.2);
                display: inline;
                padding: 2px;
            }

            position: absolute;
            bottom: 0;
            z-index: 2;
            margin: 0;
            margin: 13px 47px 13px 0;
            line-height: 26px;
            font-size: 18px;
            text-align: right;
        }

        .m-comic--image,
        .m-creator--image {
            img {
                width: 100%;
                border-radius: 3px;
                margin: 0;
                padding: 0;
            }
            position: absolute;
            bottom: 0;
            z-index: 1;

            display: none;
        }
    }

    .m-creator {
        height: 155px
    }
}

.l-detail {
    .make-row();

    .m-comic,
    .m-creator {
        .make-md-column(12);
    }
}

.m-footer--container {
    background-color: black;
    color: rgb(150,150,150);
    padding-top: 22px;
    padding-bottom: 22px;

    .m-footer {
        text-align: right;
    }
}
